<% provide(:title, 'Modifier mes informations') %>
<h1>Modifier mes informations</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
      <%= f.label :firstname, "Prénom" %>
      <%= f.text_field :firstname %>
      
      <%= f.label :lastname, "Nom" %>
      <%= f.text_field :lastname %>

      <%= f.label :email, "Adresse email" %>
      <%= f.text_field :email %>

      <%= f.label :password , "Mot de passe" %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation du mot de passe" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Sauvegarder les modifications", class: "btn btn-large btn-primary" %>
    <% end %>
    
    <%= gravatar_for @user %>
    <a href="http://gravatar.com/emails">Changer ma photo de profil</a>
  </div>
</div>